.container {
    width: 300px;
    height: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 6px;
    text-align: left;
}

input[type="password"] {
    width: calc(100% - 2px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.my-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #0056b3;
}
